* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  text-decoration: none;
  color: #2d2d2d;
}
body {
  background-color: #20604a;
  width: 100%;
}
h1 {
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 2.5em;
}
p {
  letter-spacing: 0.1em;
}
header {
  position:fixed;
  background-color: #2d2d2d;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}
.navgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
nav a {
  letter-spacing: 0.15em;
  font-size: 1.4em;
  padding: 0.6em 0;
  color: #c8c8c8;
}
nav a:hover,
nav a:focus {
  color: #fff;
  text-shadow: 0px -1px 3px #fff;
}
.navFiller {
  padding-top: 57px;
  background-color: #2d2d2d;
}
#browserUpdate {
  position: relative;
  background-color: #e91e63;
  width: 100%;
  padding: 15px 10% 10px 5%;
  font-size: 1.1em;
}
#browserUpdate p {
  color: #e0e0e0;
  text-align: center;
}
#browserUpdate a {
  text-decoration: underline;
  color: #e0e0e0;
}
#browserUpdate a:hover,
#browserUpdate a:focus {
  color: #fff;
  text-shadow: 0px -1px 3px #fff;
}
#browserUpdate span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  font-weight: 400;
  transition: 0.3s;
  color: #e0e0e0;
}
#browserUpdate span:hover,
#browserUpdate span:focus {
  color: #fff;
  text-shadow: 0px -1px 3px #fff;
  cursor: pointer;
}
main {
  width: 90%;
  max-width: 1400px;
  margin: auto;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.titleImage{
  padding-top: 80%;
  background-image: url(../img/titleSmall.jpg);
  background-size: 100%;
  position: relative;
}
.titleImage h1 {
  color: #c8c8c8;
  padding: 0 10%;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  text-shadow:
    0px 1px 5px #000,
    0px -1px 5px #000;
}
.homeGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 20px;
  text-align: center;
  font-size: 1.4em;
}
.homeGrid img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 5px 3px #444;
}
.gallery h1 {
  padding: 40px 0 20px 0;
}
.galleryGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 10px;
}
.galleryImage {
  width: 100.0%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.galleryImage:hover {opacity: 0.7;}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-content {
  margin: auto;
  max-height: 90%;
  display: block;
  width: auto;
}
.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}
.modal {
  animation-name: fadeIn;
  animation-duration: 0.5s;
}
&.out {
  animation-name: fadeOut;
  animation-duration: 0.5s;
}
@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.close {
  position: absolute;
  top: 10px;
  right: 35px;
  color: #fff;
  font-size: 60px;
  font-weight: 400;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.contactImage{
  padding-top: 80%;
  background-image: url(../img/contactSmall.jpg);
  background-size: 100%;
  position: relative;
}
.contactImage h1 {
  padding: 0 40px 0 40px;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  text-shadow:
    0px 1px 5px #000,
    0px -1px 5px #000;
}
.contactImage h4 {
  padding: 0 20px 0 20px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-shadow:
    0px 1px 5px #fff,
    0px -1px 5px #fff;
}
footer {
  font-size: 0.75em;
  font-weight: 300;
  width: 100%;
  background-color: #343434;
  color: #c8c8c8;
  padding : 15px 0 5px 0;
  margin-top: -5px;
  text-align: center;
}
footer p {
  color: #e0e0e0;
}
